<ion-view view-title="{{ 'nav.home' | translate }}">
    <ion-content>

        <div class="row">
            <div class="col text-center">
                <button class="button button-positive button-full" data-ng-click="startTracking();" data-ng-show="!isTracking">{{ "track.start" | translate }}</button>
                <button class="button button-assertive button-full" data-ng-click="stopTracking();" data-ng-show="isTracking">{{ "track.stop" | translate }}</button>
            </div>
        </div>

        <div class="row">
            <div class="col" id="map"></div>
        </div>
        
        
        
        <div class="card" data-ng-repeat="point in points track by $index">
            <div class="item item-divider">
                {{ "track.point_no" | translate : {id: $index+1} }}
            </div>
            <div class="item item-text-wrap">
                {{ "track.longitude" | translate }}: {{ point.coords.longitude }}<br />
                {{ "track.latitude" | translate }}: {{ point.coords.latitude }}<br />
                {{ "track.altitude" | translate }}: {{ point.coords.altitude }}<br />
                {{ "track.direction" | translate }}: {{ point.coords.heading }}<br />
                {{ "track.speed" | translate }}: {{ point.coords.speed }}<br />
            </div>
            <div class="item item-divider">
                {{ point.timestamp | date : 'dd/MM/yyyy HH:mm:ss' }}
            </div>
        </div>



    </ion-content>
</ion-view>

