<ion-view view-title="New track">
    <ion-content>

        <div class="row">
            <div class="col text-center">
                <button class="button button-positive button-full" data-ng-click="startTracking();" data-ng-show="!isTracking">Start</button>
                <button class="button button-assertive button-full" data-ng-click="stopTracking();" data-ng-show="isTracking">Stop</button>
            </div>
        </div>

        <div class="row">
            <div class="col" id="map"></div>
        </div>
        
        
        
        <div class="card" data-ng-repeat="point in points track by $index">
            <div class="item item-divider">
                Point #{{ $index+1 }}
            </div>
            <div class="item item-text-wrap">
                Longitutde: {{ point.coords.longitude }}<br />
                Latitude: {{ point.coords.latitude }}<br />
                Altitude: {{ point.coords.altitude }}<br />
                Heading: {{ point.coords.heading }}<br />
                Speed: {{ point.coords.speed }}<br />
            </div>
            <div class="item item-divider">
                {{ point.timestamp | date : 'dd/MM/yyyy HH:mm:ss' }}
            </div>
        </div>



    </ion-content>
</ion-view>

