<ion-view view-title="{{ 'track.details' | translate }}">
    <ion-content>

        <div class="row">
            <div class="col">
                <h4 data-ng-if="track.info.title">{{ track.info.title}}</h4>
                <p data-ng-if="track.info.notes">{{ track.info.notes}}</p>
            </div>
        </div>

        <div class="card">

            <div class="item item-text-wrap">        

                <div class="row">
                    <div class="col col-25">{{ "track.startTime" | translate }}:</div>
                    <div class="col col-75">{{ track.startTime | date : "dd.MM.yyyy HH:mm:ss" }}</div>
                </div>

                <div class="row">
                    <div class="col col-25">{{ "track.endTime" | translate }}:</div>
                    <div class="col col-75">{{ track.endTime | date : "dd.MM.yyyy HH:mm:ss" }}</div>
                </div>

                <div class="row">
                    <div class="col col-25">{{ "track.duration" | translate }}:</div>
                    <div class="col col-75">{{ formattedDuration}}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <button class="button button-balanced button-full" ui-sref="app.trackedit({trackId: track.trackId})">{{ "track.edit" | translate }}</button>
            </div>            
            <div class="col text-center">
                <button class="button button-assertive button-full" data-ng-click="confirmDelete();">{{ "track.delete" | translate }}</button>
            </div>
        </div>

    </ion-content>
</ion-view>
