<ion-view view-title="{{ 'track.details' | translate }}">
    <ion-content class="track-view">

        <div class="row">
            <div class="col">
                <h4 data-ng-if="track.info.title">{{ track.info.title}}</h4>
                <p data-ng-if="track.info.notes">{{ track.info.notes}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col" data-tap-disabled="true">
                <div id="map"></div>
            </div>
        </div>
        
        <div class="list card track-timing">

            <div class="item">
                {{ "track.startTime" | translate }}:
                <span class="item-note">{{ track.startTime | date : "dd.MM.yyyy HH:mm:ss" }}</span>
            </div>
                
            <div class="item">
                {{ "track.endTime" | translate }}:
                <span class="item-note">{{ track.endTime | date : "dd.MM.yyyy HH:mm:ss" }}</span>
            </div>
            
            <div class="item">
                {{ "track.duration" | translate }}:
                <span class="item-note">{{ formattedDuration}}</span>
            </div>
            
            <div class="item">
                {{ "track.average_speed" | translate }}:
                <span class="item-note">{{ averageSpeed }}</span>
            </div>
            
            <div class="item">
                {{ "track.displacement" | translate }}:
                <span class="item-note">{{ displacement }}</span>
            </div>

        </div>
        
        <div class="row" data-ng-show="altitudeChartData[0].values.length > 0">
            <div class="col" data-tap-disabled="true">
                <nvd3 options="altitudeChartOptions" data="altitudeChartData"></nvd3>
            </div>
        </div>
        
        <div class="row" data-ng-show="speedChartData[0].values.length > 0">
            <div class="col" data-tap-disabled="true">
                <nvd3 options="speedChartOptions" data="speedChartData"></nvd3>
            </div>
        </div>
        

        <div class="row">
            <div class="col text-center">
                <button class="button button-balanced button-full" ui-sref="app.trackedit({trackId: track.trackId})">{{ "track.edit" | translate }}</button>
            </div>            
            <div class="col text-center">
                <button class="button button-assertive button-full" data-ng-click="confirmDelete();">{{ "track.delete" | translate }}</button>
            </div>
        </div>

    </ion-content>
</ion-view>
